/* default layout for small form-factor devices. */

nav {
  max-width: 100%
}

nav ul {
  max-height: 0em;
  overflow: hidden;
  transition: max-height 0.4s;
}

nav ul li {
  display: block;
}

#page {
  width: 320px;
/*  max-width: 100%; */
  margin: 0 auto;
  background-color: #FFFFFF; /* white 000 */
}

.header-container { width: 100%; }
.content-container { width: 100%; }

.nav-container {
  width: 100%;
  margin: 0 auto;
  background-color: grey;
}

.nav-persistant {
  width: 100%;
  position: fixed;
  background-color: white;
}

.nav-persistant-handle {
  display: block;
  cursor: pointer;
}

.nav-persistant-animate {
  max-height: 20em;
}
