/* default layout for small form-factor devices. */

/* <-- BEGIN LAYOUT --> */

#l-page {
  max-width: 700px;
  width: 93%;
  margin: 0 auto;
  background-color: #FFFFFF; /* white 000 */
}

.l-page-header {
  margin: 0 auto;
  max-width: 95%;
  background-color: #FB8C00; /* orange 600 */
}

.l-page-nav, .l-page-container {
  margin: 15px auto;
  max-width: 95%;
}

/* <-- END LAYOUT --> */
