@media (min-width: 960px) {
  nav ul {
    max-height: auto;
  }

  #page {
    width: 960px;
    max-width: 100%;
    margin: 5% auto;
  }

  .nav-persistant {
    max-width: 100%;
    margin: 5% 0 auto;
    padding: 10px 0;
    position: static;
    text-align: left;
    display: inline-block;
  }
}
