@media (min-width: 960px) {
  nav ul {
    max-height: 20em;
  }

  #page {
    width: 960px;
    max-width: 100%;
    margin: 5% auto;
  }

  .nav-container {
    max-width: 95%;
  }

  .nav-persistant {
    max-width: 100%;
    margin: 8px 2%;
    padding: 5px 1.3%;
    position: static;
    left: 5%;
    right: 5%;
    text-align: left;
    display: inline;
    background-color: #DCDBD9;
  }

  .nav-persistant-handle {
    display: hidden;
  }
}
