@media screen and (max-width: 40em) {
  .header-container {
    margin-top: 0.5em;
  }

  .header-container,
  .nav-container,
  .content-container {
    margin-bottom: 1.1em;
    text-align: center
  }
}

@media screen and (min-width: 41em) {
  .header-container {
    margin-top: 0.5em;
  }

  .header-container,
  .nav-container,
  .content-container {
    margin-bottom: 0.8em
  }

  .nav-container li {
    display: inline;
  }
}
