@media screen and (max-width: 40em) {
  .header-container,
  .nav-container,
  .content-container {
    text-align: center
  }
}

@media screen and (min-width: 41em) {
  .header-container {
    margin-top: 0.8em
  }

  li {
    display: inline;
  }
}
