* { box-sizing: border-box; } /* make math easy */

body {
  margin: 15px 15%;
  padding: 10px 15%;
  background-color: #DCDBD9; /* light grey */
  font: normal 0.8em;
  line-height: 140%;
}

h1, h2, h3, h4 {
  font-family: 'Suez One', serif;
/*  font-family: 'Oswald', sans-serif; */
  font-weight: bold;
  letter-spacing: 2px;
}

h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.25em }
h4 { font-size: 1em }

p {
  font-family: 'Inconsolata', monospace;
}

/* <-- DEBUG RULES --> */

body {
  border: 1px dotted #ff0000; /* red */
}

div, h1, h2, h3, h4, h5, h6, ul {
  border: 1px dashed #000000; /* black */
}

/* <-- END DEBUG RULES --> */
