body {
  background-color: #DCDBD9;
}

.page-container {
  max-width: 32em;
  margin: 0 auto;
  padding: 0 1em;
}

#page {
  position: relative;
}

div {
  box-sizing: border-box;
}

div {
  /*border: 1px solid #000000;*/
}

.header-container,
.nav-container,
.content-container {
  width: 100%;
  margin: 2em auto;
  padding .5em;
  border-bottom: 0.2em solid #000000;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
}

h1, h2 {
  font-family: 'Suez One', serif;
  display: block;
  line-height: 1.2;
}

h1, h2, p, ul, li {
  margin: 0.2em auto;
  padding: 0.2em;
}

p {
  font-family: 'Inconsolata', monospace;
  line-height: 1.1;
}

ul {
  list-style-type: none;
}

a {
  font-family: 'Suez One', serif;
  text-decoration: none;
}
