#page-main {
  margin: 36px auto;
  width: 90%;
}

body {
  background-color: #DCDBD9; /* light grey */
  font: normal 100% Helvetica, Georgia, serif;
}

h1 {
  font-size: 1.5em; /* 24px / 16px */
  font-style: italic;
  font-weight: normal;
}
