.page-container {
  max-width: 64em;
  margin: 0 auto;
  padding: 0 1em;
}

.page-container div {
  box-sizing: border-box;
}

.nav-container,
.header-container,
.content-container {
  width: 100%
}

div {
  border: 1px solid #000000;
}
