body {
  background-color: #DCDBD9;
}

.page-container {
  max-width: 64em;
  margin: 0 auto;
  padding: 0 1em;
}

#page {
  position: relative;
}

div {
  box-sizing: border-box;
}

.br-spacer {
  margin: 0.15em;
}

.header-container,
.nav-container,
.content-container {
  width: 100%;
  margin: 1.2em auto; /* 2em was good but too much height */
  padding .5em;
/*  border-bottom: 0.2em solid #000000; */
}

.nav-container {
  border-bottom: 0.2em solid #000000;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
}

h1, h2 {
  font-family: 'Suez One', serif;
  display: block;
  line-height: 1.2;
}

/* top-right-bottom-left */
h1, h2, p, ul, li {
  margin: 0.2em auto;
  padding: 0.2em;
}

p {
  font-family: 'Inconsolata', monospace;
  line-height: 1.1;
}

ul {
  list-style-type: none;
}

a {
  color: #585756;
/*  font-family: 'Suez One', serif; */
  font-family: 'Oswald', sans-serif;
  font-size: 0.85em;
  text-decoration: none;
}

a:link {}

a:visited {}

a:hover {
  color: #FFFFFF;
  background-color: #000000;
}

a:active {
  color: #c6c5c3;
  background-color: #2c2b2b;
}

a .content-container {
  font-family: 'Inconsolata', monospace;
}

p li a {
  font-family: 'Oswald', sans-serif;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0,0,0,0.75), rgba(0,0,0,0),rgba(0,0,0,0));
}

.highlight-bg {
  display: inline-block;
  background-color: #b0afad;
  word-break: break-word;
}

.quote {
  font-style: italic;
}

code {
/*  overflow-wrap: break-word; */
  word-wrap: break-word;
}
