{% include head.html %}
<div class='page-container' role='main'>
  <div id='page'>

    <nav>
      <div class='nav-container'>
        <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/articles'>Articles</a></li>
        </ul>
      </div>
    </nav>

    <header>
      <div class='header-container'>
        <h1 class='highlight'>/{{ page.title }}</h1>
      </div>
    </header>

    <section>
      {% if page.show_quote %}
      <div class='content-container'>
        <h2 class='quote'>'{{ page.quote }}'</h2>
      </div>
      {% endif %}
      <div class='content-container'>
        {{ content }}
      <br/>
      </div>
    </section>

  </div>
</div>
{% include foot.html %}
